body {
    background-color: black;
    color: #39ff14;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    background-color: #222;
    border: 2px solid #39ff14;
    color: #39ff14;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #39ff14;
    color: black;
}

#result {
    margin-top: 20px;
}
